<%- include('partials/header') %>
<div class="nav-header">
    <h1 class="logo"><a href="/stocks">Stalk Your Stocks</a></h1>
    <ul class="main-nav">
        <li id="home"><a href="/">HOME</a></li>
        <li id="about"><a href="/aboutopen">ABOUT US</a></li>
    </ul>
</div>
<section>
    <div class="site-heading text-center" class="about">
        <h2>About <span>Us</span></h2>
        <h4>Amrita Centre for Entrepreneurship</h4>
        <p><b>You have to work on the business first before it works for you.</b></p>
        <section class="aboutinfo">

            <p>
                The Amrita Entrepreneurship Club provides a learning-by-doing environment where students can improve
                their Entrepreneurship skills. We help students turn their ideas into reality
            </p>
            <p>
                The club's primary motive is to infuse entrepreneurial spirit to help budding talents achieve their
                goals.

            </p>
            <p>
                We also organise programs and events to bring out the skills of an individual with the institution's
                excellent infrastructure and mentoring.
            </p>
        </section>
    </div>
    <img src="https://drive.google.com/uc?id=1-dAo1E-eFxwdhgp42eSMp5WPICWC5wOk" class="aboutlogo" alt="rafeh">
</section>

<section id="team" class="team-area">
    <div class="about1">
        <div class="row">
            <div class="col-md-12">
                <div class="site-heading text-center">
                    <h2>Our <span>Team</span></h2>
                    <h4>Meet our mentor and team members!</h4>
                </div>
            </div>
        </div>
        <div class="row team-items">
            <div class="col-md-4 single-item">
                <div class="item">
                    <div class="thumb">
                        <img class="img-fluid" src="https://drive.google.com/uc?id=1DaxpzeihEZNEDCCU2fcxeQ6qWD15p2_3"
                            alt="Thumb">
                        <div class="overlay">
                            <h4>Mrs. Shruti Jayakumar</h4>

                            <div class="social">
                                <ul>


                                    <li class="linkedin">
                                        <a href="https://www.linkedin.com/in/shruti-jayakumar-91b381128/"><i
                                                class="fab fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <span class="message">
                            <a href="#"><i class="fas fa-envelope-open"></i></a>
                        </span>
                        <h4>Shruti Jayakumar</h4>
                        <span>Mentor</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 single-item">
                <div class="item">
                    <div class="thumb">
                        <img class="img-fluid" src="https://drive.google.com/uc?id=1lmKmShTXyCfFPO3mqfJK7cRcxhMpfFRk"
                            alt="Thumb">
                        <div class="overlay">
                            <h4>R.Harish</h4>

                            <div class="social">
                                <ul>


                                    <li class="instagram">
                                        <a href="https://www.instagram.com/harish_renukunta/"><i
                                                class="fab fa-instagram"></i></a>
                                    </li>
                                    <li class="linkedin">
                                        <a href="https://www.linkedin.com/in/harish-renukunta-52ba84182
                                        "><i class="fab fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <span class="message">
                            <a href="#"><i class="fas fa-envelope-open"></i></a>
                        </span>
                        <h4>R. Harish</h4>
                        <span>Secretary</span>
                    </div>
                </div>
            </div>
            <div class="col-md-4 single-item">
                <div class="item">
                    <div class="thumb">
                        <img class="img-fluid" src="https://drive.google.com/uc?id=10Hmpmg9QtVULlXdLmbzTHIbdrINjkthV"
                            alt="Thumb">
                        <div class="overlay">
                            <h4>CH Manasa</h4>

                            <div class="social">
                                <ul>


                                    <li class="instagram">
                                        <a href="https://www.instagram.com/ch_manasa/"><i
                                                class="fab fa-instagram"></i></a>
                                    </li>
                                    <li class="linkedin">
                                        <a href="https://www.linkedin.com/in/ch-manasa/"><i
                                                class="fab fa-linkedin"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="info">
                        <span class="message">
                            <a href="#"><i class="fas fa-envelope-open"></i></a>
                        </span>
                        <h4>CH Manasa</h4>
                        <span>Co-secretary</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="pe">
        <img src="https://drive.google.com/uc?id=1h9WZOw7zc7iF4K68ptDpWvPfdfVGczaf" alt="rafeh">
        <div class="p-name">&nbsp &nbsp GIRISH</div>
        <div class="p-des"> &nbsp &nbsp Executive</div>

    </div>

    <div class="pe">
        <img src="https://drive.google.com/uc?id=1S3jH4sOAn3u2UZ-HFFV3Y71SjXSPEYYK" alt="rafeh">
        <div class="p-name">&nbsp ADITHYA</div>
        <div class="p-des"> &nbsp Executive</div>

    </div>

    <div class="pe">
        <img src="https://drive.google.com/uc?id=1rgY8xgb3E_sB0GkUf5FsWyWkUE-xLKYu" alt="rafeh">
        <div class="p-name">&nbsp AKSHITT</div>
        <div class="p-des"> &nbsp Executive</div>
    </div>
    <div class="pe">
        <img src="https://drive.google.com/uc?id=1G4ZDZEhutEr87FoMldYbt2Qo94ZjUCdd" alt="rafeh">
        <div class="p-name">&nbsp LAVANYA</div>
        <div class="p-des"> &nbsp &nbsp Executive</div>

    </div>

    <div class="pe">
        <img src="https://drive.google.com/uc?id=1hsx48NKWcKf68bpTabvkzuJp9A_xH0eg" alt="rafeh">
        <div class="p-name">&nbsp LOHETH</div>
        <div class="p-des">&nbsp &nbsp Executive</div>

    </div>

    <div class="pe">
        <img src="https://drive.google.com/uc?id=1usoBj7viccv-Srm6qv0OL_4XPLF5z7gw" alt="rafeh">
        <div class="p-name">&nbsp TARUN</div>
        <div class="p-des">&nbsp &nbsp Executive</div>
    </div>
    <div class="pe">
        <img src="https://drive.google.com/uc?id=1HoBUpWvFuGj2pSWDTgKUN6d_1S20WEf9" alt="rafeh">
        <div class="p-name"> BHUVANA</div>
        <div class="p-des">&nbsp &nbsp Executive</div>

    </div>

    <div class="pe">
        <img src="https://drive.google.com/uc?id=1fyPRvwJFU52POJfDqCdt_mxeKGy5OC_s" alt="rafeh">
        <div class="p-name">&nbsp KAILASH</div>

        <div class="p-des">&nbsp &nbsp Executive</div>


    </div>

    <div class="pe">
        <img src="https://drive.google.com/uc?id=1n4akPh2KWBirZrfDGMRFKxCynEc1IDo0" alt="rafeh">
        <div class="p-name">&nbsp SRINIVAS</div>
        <div class="p-des">&nbsp &nbsp Executive</div>
    </div>
    <div class="pe">
        <img src="https://drive.google.com/uc?id=1wCKzFS_PncdWuo3__GdU4VIPgjK9Uu-f" alt="rafeh">
        <div class="p-name">&nbsp MANASA</div>
        <div class="p-des">&nbsp &nbsp Executive</div>

    </div>

    <div class="pe">
        <img src="https://drive.google.com/uc?id=12kP_ANJ8B5fKc7ueRLu6ZW7u0fZ2zc1j" alt="rafeh">
        <div class="p-name">&nbsp MINMINI</div>
        <div class="p-des">&nbsp &nbsp Executive</div>

    </div>

    <div class="pe">
        <img src="https://drive.google.com/uc?id=1-sxi71yDZ5cOFyv46j9U8QVJptEgITr8" alt="rafeh">
        <div class="p-name">&nbsp NIRMAL</div>
        <div class="p-des">&nbsp &nbsp Executive</div>
    </div>
    <div class="pe">
        <img src="https://drive.google.com/uc?id=1RvBf3QqBhQ08OmTMyxwwmOEjkI2plMsB" alt="rafeh">
        <div class="p-name">&nbsp &nbsp SNEHA</div>
        <div class="p-des">&nbsp &nbsp Executive</div>

    </div>

    <div class="pe">
        <img src="https://drive.google.com/uc?id=1dgM-49VFOBN6AroeOBoWyfqSyXQwzYY7" alt="rafeh">
        <div class="p-name"> &nbsp KAUSHIK</div>
        <div class="p-des">&nbsp &nbsp Executive</div>

    </div>
    <div class="pe">
        <img src="https://drive.google.com/uc?id=1OIi8RV4EqFh9BdcGgs8C15APZEsoGofn" alt="rafeh">
        <div class="p-name">PRUDHVI</div>
        <div class="p-des">&nbsp Executive</div>
    </div>

    <div class="pe">
        <img src="https://drive.google.com/uc?id=1fhNcAMwzC4KtsFx6svPZBJwE0_6ss0PH" alt="rafeh">

        <div class="p-name">PRAJWAL</div>
        <div class="p-des"> &nbsp Executive</div>
    </div>
    <div class="pe">
        <img src="https://drive.google.com/uc?id=1M1GD85oYR4iFNz0JL_8iVj3LLEpwsH0x" alt="rafeh">
        <div class="p-name">&nbsp &nbsp SHIVA</div>
        <div class="p-des"> &nbsp Executive</div>

    </div>

    <div class="pe">
        <img src="https://drive.google.com/uc?id=1POu7qa7FYO9nDMxGAbDwQbBUsBhrOD3n" alt="rafeh">
        <div class="p-name">&nbsp HARSHA</div>
        <div class="p-des">&nbsp &nbsp Executive</div>

    </div>

    <div class="pe">
        <img src="https://drive.google.com/uc?id=1GLAQODTG8sUKNmxrZtbasqVUS5b_ZzPL" alt="rafeh">
        <div class="p-name">&nbsp ANJANA</div>
        <div class="p-des">&nbsp &nbsp Executive</div>
    </div>
    <div class="pe">
        <img src="https://drive.google.com/uc?id=1-2gFfUoEB3Bji6gGk_jKQoLO0cYJ3MI2" alt="rafeh">
        <div class="p-name">AMRUTHA</div>
        <div class="p-des">&nbsp &nbsp Executive</div>
    </div>


    </div>
    </div>
    </div>
</section>



<%- include('partials/footer') %>