<%- include('partials/header') %>
<div class="nav-header">
  <h1 class="logo"><a href="/">Stalk Your Stocks</a></h1>
  <ul class="main-nav">
    <li id="about"><a href="/aboutopen">ABOUT US</a></li>
  </ul>
</div>
<div class="jumbotron centered">
  <div class="container">
    <img src="https://drive.google.com/uc?id=1-dAo1E-eFxwdhgp42eSMp5WPICWC5wOk" class="homelogo" alt="rafeh">
    <h1 class="display-3">Stalk your Stocks!</h1>
    <p class="lead">The most important quality for an investor is temperament, not intellect.</p>
    <hr />
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
  </div>
</div>

<%- include('partials/footer') %>